.translation-area {
    margin-top: 10vh;
    padding: 50px 20px;
    width: 80%;
}

.translation-fr {
    text-align: center;
font-size: 40px;
font-weight: 500;
margin-bottom: 40px !important;
}
.translation-attempts{
    width: 100%;
}
.translation-input {
    width: 100%;
    text-align: center;
}