.translation-area {
    margin-top: 10vh;
    padding: 50px 20px;
    width: 80%;
}

.translation-attempts{
    width: 100%;
}
.translation-input {
    width: 100%;
    text-align: center;
}